*/_dev
*.zip
*-vite
*project-ideas.md
*.code-workspace
*/node_modules
/effects-reducer-context
/dev-app
/styled-app
/user-app
/finance-dashboard
*/public/
*.svg
.gitignore
*WebVitals.js
*Tests.js
package-lock.json
# !*/food-order-app/*
food-order-app/public/*
todo.md
.test.js
.dev.js